.map-wrap {
  width: 100%;
  height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
}

.map {
  width: 100vw;
  height: 100vh;
}

.maplibregl-popup-tip {
  display: none;
}

.maplibregl-popup-content {
  padding: 0;
  background: transparent;
}
